<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/cache/?v={{ version }}&asset=1&type=css"/>
</head>
<body style="background: none;">
    <div class="container-fluid source-text">
        <div class="row-fluid" style="min-height: 350px;">
            <br/>
            {{ welcome_text }} <br/>
            <div style="text-align: center">
                <img src="data:image/svg+xml;base64,{{ image }}">
            </div>
        </div>
    </div>
    <input type="hidden" name="title" value="{{ title }}">
</body>
</html>