vendor
data

cache

/dev/apache/logs/*.log
/dev/apache/logs/*.log
/dev/apache/logs/*.log
/dev/apache/logs/*.log
/dev/apache/logs/*.log
/dev/apache/logs/*.pid
/dev/apache/logs/*.log
/dev/apache/logs/*.log
/dev/apache/logs/*.log
/dev/apache/logs/*.log
/app/.project

.settings

/dev/apache/htdocs/conf/logger.xml
