<section class="card-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="card text-center">
                <header class="text-center">
                    <div class="section-subtitle">{{ 'resetting.title'|trans({}, 'FOSUserBundle') }}</div>
                </header>
                <div class="body">
                    {% if invalid_username is defined %}
                        <div class="alert alert-warning">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
                    {% endif %}

                    <form role="form" class="form-horizontal" action="{{ path('fos_user_resetting_send_email') }}" method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="username" type="text" name="username" class="search-field" required="required" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
