<div style="padding: 30px; margin: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #333333; background-color: #ffffff;">
    <table cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" border="0" width="650px" align="center">
        <tr>
            <td>
                Здравствуйте!
            </td>
        </tr>
        <tr>
            <td>
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                Вы запросили сброс Вашего пароля в системе управления процессом разработки.<br/>
                Для того чтобы сбросить пароль необходимо перейти по ссылке <a href="{{ url }}">{{ url }}</a>
            </td>
        </tr>
        <tr>
            <td>
                <br/>
            </td>
        </tr>
    </table>
</div>
