{% extends '::content.html.twig' %}

{% import "DevpromServiceDeskBundle:Common:macros.html.twig" as macro %}

{% block title %}
    {% trans %} index.title {% endtrans %}
{% endblock %}

{% block content -%}
    {% autoescape false %}
        <p>{{ 'not.licensed.content'|trans }}</p>
    {% endautoescape %}                </div>
{% endblock %}