{% extends 'layout.html.twig' %}

{% block title %}
    {% trans %} new.title {% endtrans %}
{% endblock %}

{% block content -%}
    <section class="card-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="card text-center">
                    <div class="body">
                        <form role="form" class="form-horizontal" action="{{ path('issue_create') }}" method="POST" {{ form_enctype(form) }}>
                            {{ form_widget(form) }}
                            <div class="row">
                               <input type="submit" class="btn btn-success" value="{{ 'issue.create'|trans }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}