<div style="padding: 30px; margin: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #333333; background-color: #ffffff;">
    <table cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" border="0" width="650px" align="center">
        <tr>
            <td>
                Hello!
            </td>
        </tr>
        <tr>
            <td>
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                You have made a request to reset your password. <br/>
                To reset your password please pass on the following link <a href="{{ url }}">{{ url }}</a>
            </td>
        </tr>
        <tr>
            <td>
                <br/>
            </td>
        </tr>
    </table>
</div>
