Options +FollowSymLinks

RewriteEngine On

RewriteRule ^install/?$ /app/pageadmin.php [L,QSA]

RewriteRule ^favicon(.*)$ /images/favicon$1 [L,QSA]
RewriteRule ^projects$ / [R=301,L]

RewriteRule ^app/servicedesk\.php(/(.*)|$) /servicedesk/$2 [R=301,L]

RewriteRule ^atom/([^/]+)/([^/]+)$ /co/command.php?class=atom&entity=$1&project=$2 [L]
RewriteRule ^img/([^/]+)$ /images/$1
RewriteRule ^cache/images/([^/]+)$ /images/$1
RewriteRule ^cache/?$ /cache.php [QSA,L]
RewriteRule ^module/([^/]+)/([^/]+)/(.+)$ /app/module.php?namespace=$1&module=$2&page=$3 [L,QSA]
RewriteRule ^module/([^/]+)/(.+)$ /app/module.php?namespace=$1&module=$2 [L,QSA]
RewriteRule ^methods.*$ /app/methods.php [L,QSA]
RewriteRule ^(auth|sprite/.*|join-project|login|recovery|reset|404|50[\d]{1})$ /app/non-auth.php [L,QSA]
RewriteRule ^(keys|notifications|profile|logged|invite|logoff|500\.zip|310|projects.*|menu.*|widget.*|tooltip.*|news/.+)$ /app/front.php [L,QSA]
RewriteRule ^$ /app/front.php [L,QSA]

RewriteRule ^file/([^/]+)/([^/]+)/(.+)$ /pm/file.php?class=$1&project=$2&id=$3 [L,QSA]
RewriteRule ^file/([^/]+)/([^/]+)$ /co/file.php?class=$1&id=$2 [L,QSA]
