Options +FollowSymLinks
RewriteEngine On

RewriteRule ^/scripts/(.+)$ /scripts/$1 [L]

RewriteBase /plugins/procloud

RewriteRule ^rss$ / [R=301,L]
RewriteRule ^news.*$ / [R=301,L] 
RewriteRule ^(room|links|polls|projects|about|news)$ / [R=301,L] 

RewriteRule ^style/?$ /plugins/procloud/cocache.php?mode=style [L]
RewriteRule ^css/(.+)?$ /plugins/procloud/templates/css/$1 [L]
RewriteRule ^stylex/?$ /plugins/procloud/cocache.php?mode=stylex [L]
RewriteRule ^jscripts$ /plugins/procloud/scripts.php [L]
RewriteRule ^sitemap\.xml$ /plugins/procloud/sitemap.php?mode=map [L]
RewriteRule ^sitemapindex\.xml$ /plugins/procloud/sitemap.php?mode=index [L]
RewriteRule ^images/([^/]+)$ /plugins/procloud/cocache.php?mode=image&image=$1 [L]
RewriteRule ^atom/([^/]+)$ /plugins/procloud/command.php?class=atom&entity=$1 [L]
RewriteRule ^file/([^/]+)/([^/]+)$ /plugins/procloud/cocache.php?mode=$1&file=$2 [L]

RewriteRule ^file/([^/]+)/([^/]+)/([^\.]+).external$ /plugins/procloud/cocache.php?mode=$1&project=$2&file=$3 [L,QSA]
RewriteRule ^file/([^/]+)/([^/]+)/([^/]+)$ /plugins/procloud/cocache.php?mode=$1&project=$2&file=$3 [L]

RewriteRule ^command/([^/]+)/([^/]+)$ /plugins/procloud/command.php?project=$1&class=$2 [L,QSA]
RewriteRule ^command/([^/]+)$ /plugins/procloud/command.php?class=$1 [L,QSA]
RewriteRule ^comment/([^/]+)/([^/]+)$ /plugins/procloud/coindex.php?mode=comment&project=$1&$2 [L]
RewriteRule ^login$ / [R=301,QSA]
RewriteRule ^loginfrm$ /plugins/procloud/coindex.php?mode=login&action=login [L]
RewriteRule ^logoff$ /plugins/procloud/logoff.php [L]
RewriteRule ^openid$ /plugins/procloud/coindex.php?mode=login&action=openid [L,QSA]
RewriteRule ^join$ /plugins/procloud/coindex.php?mode=login&action=join [L,QSA]
RewriteRule ^restore$ /plugins/procloud/coindex.php?mode=login&action=restore [L]
RewriteRule ^restorerequest$ /plugins/procloud/coindex.php?mode=login&action=restorerequest [L]
RewriteRule ^joinsimple$ /plugins/procloud/coindex.php?mode=login&action=joinsimple [L]
RewriteRule ^downloads$ /plugins/procloud/coindex.php?mode=login&action=download [L]
RewriteRule ^feedback/([^/]+)/auth/(.+)$ /plugins/procloud/auth.php?project=$1&mode=$2 [L,QSA]
RewriteRule ^feedback/(.+)$ /plugins/procloud/feedback.php?project=$1 [L,QSA]
RewriteRule ^issue/(.+)$ /plugins/procloud/command.php?class=cofeedbackissue&project=$1 [L,QSA]
RewriteRule ^ask/(.+)$ /plugins/procloud/command.php?class=cofeedbackask&project=$1 [L,QSA]

RewriteRule ^files/([^/]+)$ /plugins/procloud/coindex.php?mode=files&project=$1 [L]
RewriteRule ^files/([^/]+)/([^/]+)$ /plugins/procloud/coindex.php?mode=files&project=$1&id=$2 [L]
RewriteRule ^archive$ /plugins/procloud/coindex.php?mode=room&filter=archive [L]
RewriteRule ^room/([^/]+)$ /plugins/procloud/coindex.php?mode=create&action=$1 [L,QSA]
RewriteRule ^main/([^/]+)/?$ /plugins/procloud/coindex.php?mode=project&project=$1 [L]
RewriteRule ^desc/([^/]+)$ /plugins/procloud/coindex.php?mode=desc&project=$1 [QSA]
RewriteRule ^requests/([^/]+)$ /plugins/procloud/coindex.php?mode=requests&project=$1 [L]
RewriteRule ^requests/([^/]+)/([^/]+)$ /plugins/procloud/coindex.php?mode=requests&project=$1&id=$2 [L]
RewriteRule ^questions/([^/]+)$ /plugins/procloud/coindex.php?mode=questions&project=$1 [L]
RewriteRule ^profile/([^/]+)$ /plugins/procloud/coindex.php?mode=profile&id=$1 [L]
RewriteRule ^profile/action/([^/]+)$ /plugins/procloud/coindex.php?mode=profile&action=$1 [L]
RewriteRule ^messages$ /plugins/procloud/coindex.php?mode=message [L,QSA]
RewriteRule ^message/([^/]+)$ /plugins/procloud/coindex.php?mode=message&id=$1 [L]
RewriteRule ^message/([^/]+)/([^/]+)$ /plugins/procloud/coindex.php?mode=message&action=$1&id=$2 [L]
RewriteRule ^([^/]+)/([^/]+)/action/([^/]+)$ /plugins/procloud/coindex.php?mode=$1&project=$2&action=$3 [QSA]
RewriteRule ^projects/([^/]+)/([^/]+)$ /plugins/procloud/coindex.php?mode=projects&action=$1&id=$2 [L]
RewriteRule ^about/([^/]+)$ /plugins/procloud/coindex.php?mode=about&id=$1 [L]
RewriteRule ^polls/([^/]+)/?$ /plugins/procloud/coindex.php?mode=polls&project=$1 [QSA]
RewriteRule ^poll/([^/]+)/([^/]+)?$ /plugins/procloud/coindex.php?mode=poll&project=$1&poll=$2 [QSA]
RewriteRule ^(main|404|500)$ /plugins/procloud/coindex.php?mode=$1 [QSA]

RewriteRule ^site/([^/]+)/command/([^/]+)$ /plugins/procloud/site_command.php?project=$1&class=$2 [L,QSA]
RewriteRule ^site/([^/]+)/crypto$ /plugins/procloud/crypto/cryptographp.php [L,QSA]
RewriteRule ^site/([^/]+)/cryptop$ /plugins/procloud/crypto/cryptographp.inc.php [L,QSA]
RewriteRule ^site/([^/]+)/comment/([^/]+)/([^/]+)$ /plugins/procloud/coindex.php?mode=comment&project=$2&$3 [L]
RewriteRule ^site/([^/]+)/stylex$ /plugins/procloud/cocache.php?mode=stylex [L]
RewriteRule ^site/([^/]+)/images/([^/]+)$ /plugins/procloud/cocache.php?mode=image&image=$2 [L]
RewriteRule ^site/([^/]+)/jscripts$ /plugins/procloud/scripts.php [L]
RewriteRule ^site/([^/]+)/file/([^/]+)/([^/]+)/([^/]+)$ /plugins/procloud/cocache.php?mode=$2&project=$3&file=$4 [L]

RewriteRule ^site/([^/]+)/loginfrm$ /plugins/procloud/site.php?project=$1&mode=login&action=login [L]
RewriteRule ^site/([^/]+)/openid$ /plugins/procloud/site.php?project=$1&mode=login&action=openid [L,QSA]
RewriteRule ^site/([^/]+)/join$ /plugins/procloud/site.php?project=$1&mode=login&action=join [L]
RewriteRule ^site/([^/]+)/restore$ /plugins/procloud/site.php?project=$1&mode=login&action=restore [L,QSA]
RewriteRule ^site/([^/]+)/restorerequest$ /plugins/procloud/site.php?project=$1&mode=login&action=restorerequest [L]
RewriteRule ^site/([^/]+)/joinsimple$ /plugins/procloud/site.php?project=$1&mode=login&action=joinsimple [L]
RewriteRule ^site/([^/]+)/downloads$ /plugins/procloud/site.php?project=$1&mode=login&action=download [L]
RewriteRule ^site/([^/]+)/joinlicense$ /plugins/procloud/site.php?project=$1&mode=login&action=license [L]
RewriteRule ^site/([^/]+)/robots\.txt$ /plugins/procloud/site.php?project=$1&mode=search&file=robots.txt [L]
RewriteRule ^site/([^/]+)/sitemap\.xml$ /plugins/procloud/site.php?project=$1&mode=search&file=sitemap.xml [L]
RewriteRule ^site/([^/]+)/([^/]+)/?$ /plugins/procloud/site.php?project=$1&mode=$2 [QSA]
RewriteRule ^site/([^/]+)/main/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=main&id=$2 [L]
RewriteRule ^site/([^/]+)/news/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=news&id=$2 [L]
RewriteRule ^site/([^/]+)/news/tag/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=news&tag=$2 [QSA]
RewriteRule ^site/([^/]+)/download/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=download&id=$2 [QSA,L]
RewriteRule ^site/([^/]+)/docs/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=docs&id=$2 [L]
RewriteRule ^site/([^/]+)/glossary/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=glossary&id=$2 [L]
RewriteRule ^site/([^/]+)/features/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=features&id=$2 [L]
RewriteRule ^site/([^/]+)/trainings/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=trainings&id=$2 [L]
RewriteRule ^site/([^/]+)/solutions/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=solutions&id=$2 [L]
RewriteRule ^site/([^/]+)/price/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=price&id=$2 [L]
RewriteRule ^site/([^/]+)/support/([^/]+)/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=support&object=$2&id=$3 [L]
RewriteRule ^site/([^/]+)/export/([^/]+)/([^/]+)$ /plugins/procloud/site.php?project=$1&mode=export&kind=$2&id=$3 [L]
RewriteRule ^site/([^/]+)/style/custom\.css$ /plugins/procloud/site.php?project=$1&mode=style&file=custom.css [L]
RewriteRule ^site/([^/]+)/style/images/(.+)$ /plugins/procloud/site.php?project=$1&mode=style&file=$2 [L]
RewriteRule ^site/([^/]+)/file/([^/]+)/([^/]+)$ /plugins/procloud/cocache.php?project=$1&mode=$2&file=$3 [L]
RewriteRule ^site/([^/]+)/?$ /plugins/procloud/site.php?project=$1&mode=features [QSA]
