section.login legend {
	height: 19px;
	font-size: 28px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.68;
	letter-spacing: normal;
	text-align: center;
	color: rgba(65, 77, 93, 0.8);
	border: none;
}

section.login .input-block-level input {
	width: 100%;
	height: 50px;
	padding: 15px 30px 16px 30px;
	object-fit: contain;
	border-radius: 4px;
	border: solid 1px rgba(65, 77, 93, 0.2);
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.19;
	letter-spacing: normal;
}

section.login label {
	color: rgba(65, 77, 93, 0.8);
}

section.login .input-login {
	margin-bottom: 17px;
}

section.login .remember-field {
	margin-top: 11px;
}

section.login .checkbox:before {
	padding-left: 20px;
}

section.login form {
	text-align: center;
}
section.login label {
	text-align: left;
}

section.login .enter {
	margin-top: 40px;
}
section.login .enter button {
	padding-left: 80px;
	padding-right: 80px;
	font-size: 20px;
}
.login-img {
	object-fit: contain;
}
.logo-img {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.img-cont {
	text-align: center;
	background-color: #cacdd2;
}
section.login #resultmyForm {
	margin-top: 20px;
}

body {
	padding: 0;
}

.inside body
{
	background: none;
	background-color: #767f89;
	padding: 0;
}

.content-internal {
	min-height: 100%;
}

h3 {
	line-height:28px;
}

h4 {
	margin-top:18px;
	margin-bottom:18px;
}

.wrapper-all {
	min-width:960px;
	padding-left:0px;
	padding-right:0px;
}

header {
	background-color:#fff;
}

header .span7 .btn-toolbar {
	margin-left:25px;
}

header .span5 .btn-toolbar {
	margin-right:25px;
	text-align:right;
}

header .span5 .btn-toolbar .btn-group {
	text-align:left;
}

.btn-group.last:not(.dropdown-fixed)>.dropdown-menu {
	left:auto;
	right:0;
}

.navbar-search.pull-right {
	margin-left:24px;
}

header .form-search {
	text-align:right;
	margin-right:25px;
	margin-bottom:10px;
}

header .navbar-search .search-query {
	text-align:left;
	width:100px;
}

header .navbar {
	margin-left:25px;
	margin-right:25px;
	margin-bottom:10px;
}

header .navbar .navbar-inner {
	padding-left:0px;
	padding-right:10px;
	background:none;
	border:none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	filter:none;
}

.transparent-btn {
	background:none !Important;
	border:none;
	-moz-box-shadow: none !Important;
	-webkit-box-shadow: none !Important;
	box-shadow: none !Important;
	color:#777 !Important;
}

.transparent-btn:hover {
	color:#333 !Important;
}

.transparent-btn .caret {
	border-bottom-color: #777777;
    border-top-color: #777777;
}

.open .transparent-btn .caret {
	border-bottom-color: #555;
    border-top-color: #555;
}

footer {
/*	background-color:#f0f0f0;*/
	text-align:center;
	padding-top:25px;
	padding-bottom:5px;
	margin-left:25px;
	margin-right:25px;
}

footer p {
	font-size: 12px;
}

footer ul
{
	margin: 0;
}

footer li {
	display:inline;
	font-size: 12px;
}

footer.internal a,
footer.internal a:hover
{
	color: silver;
}

section.content {
	background-color:#fff;
	padding-left:15px;
	padding-right:15px;
}

section.content .span4 .nav.nav-tabs {
}

.right-side-tab .tab-pane {
	border:#ddd 1px solid;
	border-top:none;
	padding-left:12px;
	padding-right:12px;
	padding-top:20px;
	padding-bottom:20px;
	min-height:170px;
}

#rightTab {
	margin-bottom:0px;
}

.right-side-tab ul:not('.dropdown-menu') {
	list-style:none !important;
	margin:0px !important;
	padding:0px !important;
	color:#404040 !important;
}

.right-side-tab ul:not('.dropdown-menu') li {
	margin:0px !important;
	padding:0px !important;
	margin-bottom:14px !important;
}

.right-side-tab .title {
	color:gray;
}

.right-side-tab .title i {
	opacity:0.7;
}

.right-side-tab .alert {
	margin-top:5px;
	margin-right:25px;
}

.strike {
	text-decoration:line-through !Important;
}

a.more {
	cursor:pointer;
    text-decoration: none;
}

a.more:hover {
    text-decoration: none;
    border-bottom:#0088cc 1px dashed;
}

.right-side-tab ul li .hidden {
	display:none;
}

.history-user, .wishes {
}
.history-user {
	margin-top: 2px;
}

.breadcrumb {
	margin-right:125px;
	background:none;
	padding-left:0px;
	padding-top:0;
	margin-top:0;
	margin-bottom: 10px;
	padding-bottom: 0;
}

.history-user .row, .wishes .row {
	margin-left:0px;
}

.properties-table {
	width:100%;
	color:#404040;
	margin-bottom:12px;
}

.properties-table .btn-field {
	padding: 0 3px;
}

table.properties-table,
table.properties-table td,
table.properties-table th
{
	border: none;
}

.properties-table th, .properties-table td {
	padding-top:6px;
	padding-bottom:6px;
	vertical-align:top;
}

.properties-table th {
	font-weight:normal;
	text-align:left;
	color:gray;
	padding-right:15px;
	width: 25%;
	cursor: pointer;
}

.properties-table td {
	width: 75%;
}

.properties-table .btn-group {
	white-space: normal;
}
.properties-table .btn-group.board-tasks {
	margin-right: 0;
	margin-top: 3px;
}

.properties-table .btn {
	text-align: left;
}

a.dashed {
	TEXT-DECORATION: underline;
	text-decoration-style: dashed;
	text-underline-position: under;
	color:#686868;
}

a.dashed:hover {
	color: #0088cc;
}

.list-tasks {
	list-style:none;
	margin:0px;
	padding:0px;
	color:#404040;
	margin-bottom:10px;
}

.list-tasks li {
	margin:0px;
	padding:0px;
	margin-bottom:4px;
}

.accordion-wrap .accordion-heading {
	padding-bottom:10px;
	border-bottom:#E5E5E5 1px solid;
	margin-bottom:18px;
}

.btn .caret {
	margin-top:8px;
}

.to-drop-btn {
	display:inline-block;
	color:#333 !Important;
	TEXT-DECORATION: none !Important;
	margin-bottom:-20px;
	float:left;
	background-color:#fff;
	padding-right:5px;
}

.collapsed.to-drop-btn .caret {
	border-left:#000 4px solid;
	margin-top:6px;
	border-top:transparent 4px solid;
	border-bottom:transparent 4px solid;
	border-right:transparent 1px solid;
}

.to-drop-btn .caret {
	margin-top:8px;
}

.accordion-heading .to-drop-btn .caret {
	margin-left:-3px;
}

.accordion-heading .to-drop-btn.collapsed .caret {
	margin-left:0px;
}


.accordion-body {
	padding-left:8px;
	padding-right:8px;
	outline: none;
}
.collapse.in {
	overflow: inherit;
}

.actions {
	float:right;
	margin-bottom:10px;
}

.actions .dropdown-menu {
	text-align:left;
	left:auto;
	right:0;
}

.alert p, .alert div, .alert pre {
	margin-bottom:0.8em;
	margin-left:40px;
	color: #404040;
}

.alert ul {
    margin-bottom:0.8em;
    margin-left:80px;
    color: #404040;
}

.wrap-sidebar {
	margin-right:25px;
}

.dropdown-menu label {
	padding-left:20px;
	padding-right:20px;
	display:block;
	padding-top:3px;
	padding-bottom:3px;
	clear:both;
}

.dropdown-menu label.checkbox input {
	margin-left:0px;
	margin-right:5px;
}

.wishes .for-name {
	min-width:250px;
}

.no-carryng {
	white-space:nowrap;
}

.wishes-table {
	border-bottom:#ddd 1px solid;
}

.wishes-table input {
	margin-top:0px;
}

.wishes-table p {
	margin-bottom:0px;
	margin-top:0px;
}
.wishes table .bs {
	margin-bottom:6px;
	margin-top:1px;
}

.wishes-table th {
	color:#000;
}
.wishes-table th[uid='uid'] {
	white-space: nowrap;
}
.wishes-table th.right * {
	float:right;
	text-align: left;
}

.mode-sort {
	TEXT-DECORATION: none;
	color:#000;
}

.header-caret.down .caret {
	border-top:#000 4px solid;
	border-left:transparent 4px solid;
	border-right:transparent 4px solid;
	margin-top:8px !Important;
}

.header-caret.up .caret {
	border-bottom:#000 4px solid;
	border-left:transparent 4px solid;
	border-right:transparent 4px solid;
	border-top:transparent 4px solid;
	margin-top:4px !Important;
}

th .header-caret
{
    display:table-cell;
    width:14px;
    height:4px;
    text-align:right;	
} 

.wishes-table td select {
	width:100%;
}

.tooltip-inner {
	text-align:left !Important;
}

.wrapper-scroll {
	overflow:auto;
}

.with-tooltip {
	white-space:nowrap;
	cursor: pointer;
}

td#operations {
	min-width: 40px;
}
.wishes-table tr .btn-group.operation {
	visibility: hidden;
}
.wishes-table:not(.visible-operations) tr:hover .btn-group {
	visibility:visible;
}
.btn-group.dropdown-fixed {
	position: absolute;
	z-index: 999;
	text-align: left;
}
.visible-operations tr .btn-group.operation {
	visibility:visible !important;
}


.wishes-table tr .btn-success {
	visibility:hidden;
}

.wishes-table tr:hover .btn-success {
	visibility:visible;
}

.wishes .btn-toolbar .btn-group {
	margin-left:0px;
	margin-right:4px;
	margin-bottom:6px;
}

.pagination {
	margin-top:0px;
	margin-right: 20px;
}

.pagination p {
	margin-top:2px;
}

.font12 {
	font-size: 12px;
}

.popover select {
	width:100%;
}

.requirements {
}

.requirements .history-user, .requirements .wishes {
	margin-left:0px;
}

.requirements .wishes .with-popover {
	min-width:215px;
}

.requirements .actions {
	width:410px;
	text-align:right;
}

.requirements .breadcrumb {
	margin-right:420px;
}

.time-work {
	cursor:default;
}

.time-work a {
	visibility:hidden;
}

.time-work:hover a {
	visibility:visible;
}

.for-textarea {
	margin-right:14px;
}

.for-textarea textarea {
	width:100%;
}

.user-avatar {
	width: 15px;
	height: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	padding: 15px;
	margin: 5px 10px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.participant-avatar
{
    width: 0px;
    height: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.user-pic {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    margin-right: 10px;
}

.user-mini {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.user-mini-mention {
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-bottom: -4px;
	margin-right: 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

ul.changes-section {
	list-style: none;
	margin: 0px;
	padding: 0px;
	color: #404040;
}

ul.changes-section li {
	margin: 0px;
	padding: 0px;
	margin-bottom: 14px;
}

.person_hint
{
	overflow-x: hidden;
}

.comment-line
{
	width: 100%;
}

.comment-line .user-avatar {
	margin-left: 0;
	margin-right: 0;
}
@media screen {
	.comment-line .comment-text {
		padding: 4px 4px 12px 4px;
	}
	.comment-line .comment-author {
		padding-left: 4px;
	}
	.comment-text .btn-link-hidden {
		display:none;
	}
	.comment-text:hover .btn-link-hidden {
		display:inline;
	}
}
@media print {
	.comment-line .comment-text {
		padding: 4px 4px 4px 0px;
	}
	*.diffins {
		text-decoration: underline;
	}
	*.diffdel {
		text-decoration: line-through;
	}
}
.comment-line .wysiwyg {
	padding: 0;
}
.comment-line-holder {
	margin-bottom: 3px;
}
.comment-line-holder.active td:nth-child(2) {
	background: #faf300;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.comment-line .transparent-btn {
	padding: 0px 4px 12px 4px;
}
.comment-line .user-avatar {
	margin: 0;
}
.comment-thread-container.private {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	background-color: #f4f4f4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a[onclick]:not([href])
{
	cursor: pointer;
}

option[disabled]
{
  cursor: not-allowed;
  background-color: #eeeeee;
}

.board_item_body input[type="checkbox"]
{
	padding: 0;
    margin: 1px 3px 0 0;
}

.board_item_body input[type="text"]
{
	min-height: 30px !important;
}

.board_item_body a.with-tooltip
{
	line-height: 10px;
}

input.spent-time
{
	height: 30px;
}

.wiki-page
{
	display: table;
	width: 100%;
}

.wiki-page-document
{
	display: table-cell;
	vertical-align: top;
}

.wiki-page-document .table-header .filter .btn-group,
.wiki-page-document .table-header .filter-actions .btn-group{
	margin-top: 2px;
	padding: 0 0 7px 0;
}
.wiki-page-document .table-header {
	height: 37px;
}

.wiki-page-document-divider
{
	display: table-cell;
	width: 1%;
}

.wiki-page-tree
{
	display: table-cell;
	vertical-align: top;
}
.wiki-page-tree.left {
	padding-right: 8px;
}
.wiki-page-tree.right {
	padding-left: 8px;
}

@media screen and (min-device-width: 1024px) {
	.wiki-page-tree.left {
		max-width: 260px;
		min-width: 260px;
	}
	.wiki-page-tree.right {
		max-width: 260px;
		min-width: 260px;
	}
	.wiki-page-tree a.tree-placement {
		margin-right: 5px;
	}
}
@media screen and (min-device-width: 1279px) {
	.wiki-page-tree.left {
		max-width: 330px;
		min-width: 330px;
	}
	.wiki-page-tree.right {
		max-width: 330px;
		min-width: 330px;
	}
	.wiki-page-tree a.tree-placement {
		margin-right: 6px;
	}
}
@media screen and (min-width: 1359px) {
	.wiki-page-tree.left {
		max-width: 350px;
		min-width: 350px;
	}
	.wiki-page-tree.right {
		max-width: 350px;
		min-width: 350px;
	}
	.wiki-page-tree a.tree-placement {
		margin-right: 7px;
	}
}
@media screen and (min-width: 1440px) {
	.wiki-page-tree.left {
		max-width: 380px;
		min-width: 380px;
	}
	.wiki-page-tree.right {
		max-width: 400px;
		min-width: 400px;
	}
	.wiki-page-tree a.tree-placement {
		margin-right: 10px;
	}
}
@media screen and (min-width: 1600px) {
	.wiki-page-tree.left {
		max-width: 410px;
		min-width: 410px;
	}
	.wiki-page-tree.right {
		max-width: 470px;
		min-width: 470px;
	}
	.wiki-page-tree a.tree-placement {
		margin-right: 12px;
	}
}

.wiki-page-tree.left .tab-content,
.wiki-page-tree.left .treeview-container.sticked {
	border-right: 1px solid #ddd;
}

.wiki-page-tree a.docs-url {
	line-height:37px;
	float:left;
	margin-left: 12px;
}
.wiki-page-tree a.tree-placement {
	line-height:34px;
	float:right;
	display: none;
}
.wiki-page-tree:hover a.tree-placement {
	display: block;
}
.wiki-page-tree .wikitreesectionnew {
	padding-top: 10px;
}
.wiki-page-tree .clear-fix {
}
.wiki-page-tree ul#wikitree {
	padding: 0;
}
.wiki-page-tree ul#wikitree>li:last-child {
	padding-bottom: 16px;
}

.title-cell
{
    margin-top: 0;
    padding-bottom: 5px;
    display: table-cell;
	vertical-align: top;
	width: 1%;
	padding-left: 12px;
}

.title-cell .sec-num {
	padding-right: 16px;
}
@media screen {
	.title-cell .sec-num {
		margin-top: 4px;
	}
	.title-cell .sec-num.readonly {
		margin-top: 0;
	}
	.title-cell .wysiwyg-input:not([contenteditable]) {
		margin-top: 4px;
	}
}
@media print {
	.table-document .header-row {
		display: none;
	}
}

table.table-document
{
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
	width: 100%;
    margin: 0;
	table-layout: fixed;
}

table.table-document > thead:first-child > tr:first-child th,
table.table-document > thead:first-child > tr:first-child td {
  border-top: 0;
}

table.table-document > tbody + tbody {
  border-top: 2px solid #dddddd;
}

table.table-document > tbody > tr > th
{
  padding: 4px 4px 4px 0;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

table.table-document > tbody > tr > th:empty
{
	border-bottom: none;
}

table.table-document > tbody > tr > td
{
  padding: 4px 0 4px 0;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border: none;
}

table.table-document > tbody > tr.row-empty > td
{
    padding: 0 !important;
}

table.table-document td input[type="checkbox"]
{
    margin-top: 3px;
}

table.table-document > tbody > tr > th[uid=attributes]
{
	padding-left: 16px;
}

table.table-document > tbody > tr > td#attributes
{
    padding-left: 16px;
}

.embedded_footer
{
	padding-bottom: 3px;
}

div.table-inner-div
{
}

.document-loader
{
    background: url('/images/document-load.gif') no-repeat center center;
    width: 100%;
    height: 60px;
}

div.readonly
{
	width:inherit;
	word-wrap: break-word;
}

img.trace-state
{
	padding-right: 2px;
	margin-bottom: 3px;
}

a.image_attach img,
a.file_attach img
{
    margin-top: -3px;
}

#document-compare-block
{
	display: none;
}

.comments-cell {
	display: table-cell;
}
@media screen {
	.comments-section.closed {
		display: none;
	}
	.comments-cell.open {
		display: none;
	}
	.wiki-page-document .comments-section {
		margin-top: -22px;
	}
}
@media print {
	.comments-cell {
		display: none;
	}
}

.document-item-bottom-hidden
{
	display:none;
}
.document-page-comments-link {
	cursor: pointer;
}
.document-structure-action {
	margin-left: 8px;
}

.board-table td,
.board-table th
{
	border: 1px solid #dddddd
}

.board-table td
{
	padding: 0;
}

.board-table .list_cell
{
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

.board-table .board_item
{
	width: 100%;
}

.board-table td.board-group
{
	height: 30px;
	vertical-align: middle;
	padding-left:10px;
	white-space: nowrap;
	overflow-x: hidden;
}

#modal-form .control-set,
form.form-horizontal .control-set
{
	display: table;
	width: 100%;
}
#modal-form .control-column,
form.form-horizontal .control-column
{
	display: table-cell;
}

.content .control-column
{
    display: block;	
}

section.login
{
	max-width: 425px;
	margin: 29px auto 0px auto;
	padding-bottom:0;
}

div.user-workload
{
	display:table;
}

div.user-workload div.cell
{
	display:table-cell;
	vertical-align:middle;
	padding-left:10px;
}

div.user-workload div.cell:first-child
{
	padding-left:0;
	padding-right:12px;
}

div.user-workload div.progress-cell
{
	padding-left:3px;
	width:90px;
}

div.reorder-control
{
    display:table;	
}

div.reorder-control div
{
	width:10px;
    display:table-cell;
    vertical-align:top;
}

textarea.text-mono
{
	font-family: Courier New;
}

button.clipboard {
	padding: 0;
	line-height: 21px;
	border: none;
}
button.clipboard i {
	margin-top: 0px;
}

.block-sign, .impl-sign {
  float: right;
  height: 16px;
  width: 16px;
  margin: 2px 0 -4px 2px;
  background-image: url(/images/lock.png);
}

.impl-sign {
  background-image: url(/images/table_link.png);
}

td.board-group .btn-group:not(.row-group) {
    visibility:hidden;
}

td.board-group:hover .btn-group:not(.row-group) {
    visibility:visible;
}

.more-actions {
	margin-bottom: -2px;
}

th .more-actions .btn-cell {
	display: table-cell;
	vertical-align: top;
}
tr.info td .more-actions,
th .more-actions .dropdown-toggle {
	visibility:hidden;
}

tr.info td:hover .more-actions,
th:hover .more-actions .dropdown-toggle {
	visibility:visible;
}

.row-group .btn {
	padding: 0;
}
.row-group-btn .btn {
	padding: 0;
}

.recent-comments {
	padding-bottom: 12px;
}

.recent-comments .user-mini {
	margin-right: 4px;
	margin-bottom: -6px;
}

div#tab-main .source-left {
	display: table-cell;
	width: 60%;
	padding-right: 16px;
	vertical-align: top;
}

@media(max-width: 1024px) {
	div#tab-main .source-text {
		display: none;
	}
}
@media(min-width: 1024px) {
	div#tab-main .source-text {
		border-left: 1px solid #ddd;
		display: table-cell;
		width: 38%;
		padding-left: 16px;
		vertical-align: top;
	}
}

a.trace-history {
	display: none;
}

div.trace-artefact:hover a.trace-history {
	display: block;
}

div.page-attachments {
}
div.page-attachments div.attachment-items {
	float: left;
}
div.page-attachments .badge-file {
}

div.page-attachments div.append-cell {
	visibility: hidden;
	padding-top: 5px;
	padding-left: 4px;
	float: left;
}
div.page-attachments:hover div.append-cell {
	visibility: visible;
}

.table-header div.filter-reset-cnt a.clipboard {
	width: 28px;
	padding: 2px 0 2px 0;
}
.table-header:hover a.filter-reset-btn {
	display: block;
}
a.filter-reset-btn {
	width: 30px;
	display: none;
	padding: 2px 0 2px 0;
}
a.filter-reset-btn i.icon-trash {
	background-position: -457px 0;
}

.textcomplete-dropdown a {
	cursor: pointer;
}

.textcomplete-dropdown a i {
	margin-right: 7px;
	margin-left: 2px;
}

.cke_widget_wrapper {
	max-width: 100%;
	width: inherit !important;
}
span.cke_image_resizer_wrapper {
	display: inherit;
}

div.wiki-page-help {
	color: grey;
}

img.widget-list {
	margin-right: 8px;
	margin-bottom: 3px;
	vertical-align: middle;
}

.title-set .control-column:first-child {
	width:75%;
}
.title-set .control-column:nth-child(2) .control-label {
	width: 50px;
}
.title-set .control-column:nth-child(2) .controls {
	margin-left: 70px;
}

table.table td table th,
table.table td table td
{
	padding: 2px;
	line-height: inherit;
	vertical-align: initial;
	text-align: initial;
}
table.table th>a {
	display: table-cell;
}
table.table th>a.dashed {
	font-weight: normal;
}
table.table th a#collapseTree {
	padding-left: 26px;
}
table.table th a#restoreTree {
	padding-left: 9px;
}

.hover-holder a.dashed-hidden {
	display:none;
}

.hover-holder:hover a.dashed-hidden {
	display:inline-block;
}

.product-info {
	width: 96%;
}

form[class_name="productinfoform"] div[class*="span"] {
	width: 100%;
}

.product-info img {
	width: 90%;
}

.product-info p,
.product-info li {
	margin-top: 16px;
	margin-bottom: 16px;
}

div#tablePlaceholder {
	display: table;
	width: 100%;
}
div#tablePlaceholder.placeholder-fixed {
	table-layout: fixed;
}
div#tablePlaceholder.placeholder-fixed .table-master {
	vertical-align: top;
	overflow-x: auto;
	overflow-y: hidden;
}
div#tablePlaceholder .table-details {
	display: table-cell;
	vertical-align: top;
	width: 330px;
}
.table-details div#tablePlaceholder {
	table-layout: auto;
}

.details-body {
}
.details-body .tooltip-body {
	padding: 10px;
}
.page-details .details-header {
	height: 23px;
	padding: 7px 6px 6px 6px;
	border-bottom: 1px solid #dddddd;
	color: white;
}
.page-details a.btn {
	margin-right: 4px;
}
.page-details a.btn i {
	margin-top: auto;
}

.page-details .details-body ul.nav {
	display:table;
	margin-bottom:0;
}
.page-details .details-body ul.nav .nav-cell {
	display:table-cell;
	vertical-align:top;
}
.page-details .details-body ul.nav .nav-left {
	padding-right:10px;
}
.page-details .details-body ul.nav .nav-date {
	line-height: 27px;
	vertical-align: bottom;
}
.page-details .details-body ul.nav .nav-date i {
	margin-top: 0;
}
.page-details .details-body ul.nav .nav-text {
	padding-top: 1px;
}
.page-details .details-body .progress-cell {
	margin-left: 10px;
	margin-top: 4px;
}
.page-details .table th,
.page-details .table td {
	border-top: none;
	border-bottom: #ddd 1px solid;
}
.page-details .wishes-table {
	border-bottom: none;
}
.page-details .tt-field-data {
	max-width: 300px;
	max-height: inherit;
}


.details-visible .board-table th:last-child,
.details-visible .board-table td:last-child {
	border-right: none;
}

.list_header .btn {
	padding: 0;
	display: block;
	margin-top: -1px;
}

.project-settings h2 {
	line-height: 1em;
}
.project-settings .page-header {
	padding: 0;
	margin-bottom: 15px;
}
.project-settings .row {
	margin-left: 12px;
}
.settings-box {
	height:92px;
	overflow: hidden;
	margin-left: 0px;
	margin-bottom: 16px;
	margin-right: 16px;
}
.settings-box p {
	padding-left: 12px;
	opacity: 0.9;
}
.settings-box:hover p {
	opacity: 1;
	-moz-transition: all 0.4s ease-out;  /* FF4+ */
	-o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
	-webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
	-ms-transition: all 0.4s ease-out;  /* IE10? */
	transition: all 0.4s ease-out;
}

div.workflow-history {
	white-space:nowrap;
	margin-bottom: 2px;
}
div.workflow-history .user-mini {
	margin-bottom: -4px;
}

div#documentCache {
	overflow:hidden;
	height:1px;
	width:1px;
}

img[alt] {
	color: transparent;
}

.sticks-top-body {
	overflow-x: hidden;
}
.sticks-body-hidden th {
	background-color: white;
	border-top: none;
}

.sticks-body-hidden {
	display: none;
	z-index: 2;
}

.short-menu-popover {
	max-width: 790px;
}
.short-menu-area {
	width: 210px;
	min-width: 150px;
	margin-bottom: 20px;
	display: table-cell;
}
.short-menu-area p {
	font-weight: bold;
	padding: 8px 0 8px 0;
	border-bottom: 1px solid #dddddd;
	margin-right: 30px;
	margin-bottom: 8px;
}
.short-menu-area a {
	line-height: 26px;
}
.short-menu-area a:hover {
	color: white;
	background-color: black;
}

.label-tag a, .label-tag a:hover {
	color: white;
	text-decoration: none;
}



.splitter_panel {
}
.splitter_panel .vsplitter {
	background-color: grey;
	cursor: col-resize;
	z-index:900;
	width: 4px;
}

.splitter_panel .hsplitter {
	background-color: #5F5F5F;
	cursor: row-resize;
	z-index: 800;
	height: 4px;
}
.splitter_panel .vsplitter.splitter-invisible,
.splitter_panel .hsplitter.splitter-invisible {
	background: none;
}
.splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel,
.splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
}
.splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel {
	height: 100%;
}
.splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
	width: 100%;
}
.splitter_panel .top_panel, .splitter_panel .left_panel, .splitter_panel .vsplitter {
	top: 0;
}
.splitter_panel .top_panel, .splitter_panel .bottom_panel, .splitter_panel .left_panel, .splitter_panel .hsplitter {
	left: 0;
}
.splitter_panel .bottom_panel {
	bottom: 0;
}
.splitter_panel .right_panel {
	right: 0;
}
.splitterMask {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}


a.uid {
	margin-right: 6px;
}
td a.uid strike {
	opacity: 0.4;
}
span.label.label-uid {
	margin-right: 6px;
	top: 0;
}
span.label-uid>a.uid {
	margin-right: 0;
}
td#testcase>.bs {
	margin-top: 6px;
}

.navbar-company th {
	min-width: 180px;
}

tr#no-elements-row td {
	line-height: 28px;
	background-color: white;
}

a.hint-open-link {
	color: #878787;
	padding: 0 0 0 4px;
}
div.table-master div.hint-container {
	padding-left: 5px;
}
form.form-horizontal div.hint-container {
	padding-left: 131px;
}
div.accordion-body div.hint-container {
	float:left;
}
.hint-container {
	float:left;
}
div.hint-container i {
	opacity: 0.5;
}

div.details-visible div.hint-holder {
	padding-right: 15px;
}

.find-in-tree button.btn-success {
	margin-bottom: -7px;
}

.profile-avatar {
	padding: 15px 15px;
	margin-right: 6px;
	width: 0px;
	height: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

span.wip-o {
	color:red;
	font-weight:bold;
}

.embedded_footer {
	margin-top: 6px;
}

img.wiki_page_image
{
	border:none;
	cursor: pointer;
}

span[comment-id] {
	cursor: pointer;
	display: inline-block;
	padding: 1px 1px;
	vertical-align: baseline;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #faf300;
}

table.table td[name=row-num] {
	padding: 0;
	line-height: 22px;
}

div.lst-num-grp {
	display: table;
}
div.lst-num-grp .lst-grp {
	display: table-cell;
}
div.lst-num-grp .lst-grp .label {
	width: 8px;
	padding-bottom: 1px;
}
div.lst-num-grp .lst-num {
	display: table-cell;
	padding: 8px;
}
span.label-importance {
	cursor: pointer;
}

table[uid=activitiesreport] th[uid=caption] {
	min-width: 290px;
}
table[uid=activitiesreport] th[uid*=day] {
	min-width: 20px;
	white-space: nowrap;
}

tr.total {
	background-color: #e6e6e6;
}
tr.total td {
	padding: 2px 8px;
	white-space: nowrap;
}

.state-rich {
}
.state-rich td:nth-child(2) {
	min-width: 110px;
}
.state-rich .progress {
	height: 19px;
}

.recent-comments .user-mini {
	float:left;
	margin-bottom: 2px;
}
.recent-comments .wysiwyg p:first-child {
	float:left;
}
.recent-comments .wysiwyg p:nth-child(2) {
	clear:both;
}

span.project-search input {
	padding: 2px 4px;
}

.wysiwyg table th {
	border-top: inherit;
}
.wysiwyg table td {
	vertical-align: inherit;
}

.p-link {
	line-height: 23px;
}
.p-link.p-sub {
	margin-left: 41px;
}
.p-link.p-node i {
	opacity: 0.6;
	margin-right: 3px;
}
.p-left-recent {
	display: table-cell;
	min-width: 270px;
}
.p-right-recent {
	display: table-cell;
	padding-left: 20px;
}

h4.page-form-view {
	margin-top: 0;
}
.list-slider-1 .ref-name {
	display: none;
}
.list-slider-2 .ref-name {
	display: inline;
}
.list-slider-2 .tracing-ref>span:nth-child(n+2):before {
	content: "\A";
	white-space: pre;
}
.list-slider-2 .tracing-ref a.dashed {
	display: block;
}

.details-more {
	margin-left: 8px;
}

.form-col-0 {
	width: 100%;
}
form[module='createprojectform'] .form-col-0 {
	width: 50%;
	padding-right: 35px;
	border-right: 1px solid #e5e5e5;
}
form[module='createprojectform'] .form-col-1 {
	width: 35%;
	padding-left: 15px;
}
form[module='createprojectform'] textarea[name='Participants'] {
	height: 69px;
}
form[module='createprojectform'] table.users-table .user-mini {
	margin-bottom: -4px;
}
form[module='createprojectform'] table.users-table input {
	margin-top: 3px;
}
form[module='createprojectform'] table.users-table label {
	margin-bottom: 0;
}
div.users-container {
	margin-top: 8px;
	max-height: 320px;
	overflow: hidden;
	overflow-y: scroll;
}
input.users-search {
	width: 100%;
	margin-top: 6px;
}

a.text-link {
	color: black;
}


.breadcrumb li.next-item a {
	padding-left: 2px;
	opacity: 0.3;
}
.breadcrumb li.next-item a:hover {
	opacity: inherit;
}
.breadcrumb li.clip {
	margin-right: 42px;
}
.uid-state {
	padding-top: 2px;
}

.row-fluid.page-title {
	display:table;
	position: absolute;
	z-index: 999;
	background-color: #414d5d;
    white-space: nowrap;
}
.page-title .page-title-col {
	display:table-cell;
}
.context-left {
	display: table-cell;
	width: 0;
	height: 0;
	vertical-align: top;
}
.context-right {
	display: table-cell;
	width: 0;
	height: 0;
	vertical-align: top;
}
.context-middle {
	display: table-cell;
	height: 28px;
	line-height: 35px;
	color:white;
	min-width: 60px;
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
}
.context-container {
	display: table;
	width: 100%;
}
.context-container .btn {
	color: white;
	text-shadow: inherit;
	background: none;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
@media(max-width: 1024px) {
	.context-container {
		display: none;
	}
}

.source-text .wysiwyg h1 {
	font-size: 20px;
}
.source-text .source-text-data {
	overflow-y: auto;
}
.source-text:nth-child(n+2) {
	padding-top: 12px;
}

#fieldRowStartDate {
	max-width: 280px;
}

.tab-pane.statablelifecyclesection {
	overflow-x: auto;
}


table[uid=testschecklistreport] th[uid^=version_] {
    width: 1%;
}
table[uid=testschecklistreport] th[uid^=version_] p {
	writing-mode: vertical-lr;
}

.pri-cir {
	margin-left: -12px;
	margin-right: 4px;
}

.grabbable {
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

i.issue {
    width: 16px;
    height: 16px;
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
	margin-top: -1px;
}
i.issue.bug {
	background-image: url(/images/bug.png);
}
i.issue.enhancement {
	background-image: url(/images/layout_add.png);
}

span.label-state {
	white-space: normal;
}

.title-cell span.label-state {
	white-space: nowrap;
}

.accordion-body .table-header .filter {
	display: inline;
	width: 100%;
}

@media screen {
	.embdded-items-list .btn-link-hidden .btn {
		min-width: 20px;
	}
	.embdded-items-list .btn-link-hidden .label {
		display:none;
	}
	.embdded-items-list:hover .btn-link-hidden .label {
		display:inline;
	}
}

.cke_reset_all a.embedded-add-button {
	cursor: pointer !important;
}

.embedded_form a.embedded-add-button:nth-child(n+2) {
	margin-left: 20px;
}

.breadcrumb li .btn {
	padding: 3px 35px 5px 0;
}
.breadcrumb li .btn.dropdown-toggle {
	opacity: 0.6;
}
.breadcrumb li .btn.dropdown-toggle:hover {
	opacity: 1;
}
.breadcrumb .page-title {
	font-weight: bold;
}
.breadcrumb .page-title .transparent-btn {
	font-weight: bold;
}
.table-header .filter .breadcrumb .btn-group {
	padding: 0px;
}
.table-header .hidden-print {
	float: left;
}
.table-header .hidden-print ~ .hidden-print {
	float:right;
}

.btn {
	cursor: pointer;
}

.badge-file {
	display: inline-block;
	padding: 8px 6px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: black;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #f2f2f2;
	padding-right: 9px;
	padding-left: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	margin: 0 3px 6px 0;
}

.badge-file .att-act {
	color: black;
	padding-right: 12px;
	text-decoration: none;
}
.badge-file canvas {
	position: absolute;
	cursor: pointer;
	margin-top: -6px;
	margin-left: -7px;
}

.badge-file .att-act:hover {
}
.badge-file .att-info {
	padding-left: 8px;
	color: #b3b3b3;
	font-weight: normal;
}
.file-browse {
	padding-top: 4px;
}
.file-browse input {
	top: 0;
	position: fixed !important;;
}

.input-block-level .badge-file {
	margin-top: 3px;
}

.file-drop-target.drag-over {
	background-color: #eaedf2;
	border-radius: 5px;
}

.test-pagination {
	white-space: normal;
}
.test-pagination a {
	margin-bottom: 3px;
}

.auto-time {
	margin-right:6px;
}
.auto-time-panel {
	margin-left:20px;
}
.properties-table .auto-time-panel {
	visibility: hidden;
}
.properties-table:hover .auto-time-panel {
	visibility: visible;
}
.auto-time-field {
}
.auto-time-field a {
	margin-top:4px;
}

.ui-dragging-body {
	padding: 8px;
	border: 1px solid grey;
	border-radius: 3px;
	background-color: white;
	z-index: 999;
	white-space: nowrap;
}
.doc-row-hover {
	background-color: rgba(113, 126, 138, 0.19);
}

a.btn[uid=compare-more-actions] {
	padding: 0;
	margin-top: 2px;
}
a.btn[uid=compare-more-actions] span {
	padding: 4px 6px;
}

tr.ui-draggable td[name=row-num] {
	cursor: move;
}

td#recordcreated,
td#recordmodified {
	white-space: nowrap;
}
td#startdate,
td#finishdate {
	white-space: nowrap;
}

.btn.btn-test-active {
	outline: solid #0c60db;
	opacity: 0.6;
}

td#workload {
	white-space: nowrap;
}