{% extends '::base.html.twig' %}

{% block title %}
    {{ 'settings.dashboard.title'|trans({}, "settings") }}
{% endblock %}

{% block body -%}
    <div class="content container">
        <div class="col-md-8 col-md-offset-2">
            <h2></h2>
            <section class="widget">
                <div class="body">
                    <div class="well">
                        {{ 'settings.dashboard.title'|trans({}, "settings") }}
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock body %}