{% extends "layout.html.twig" %}

{% block title %}
    {{ 'registration.title'|trans }}
{% endblock %}

{% block fos_user_content %}
    <section class="card-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="card text-center">
                    <header class="text-center">
                        <div class="section-subtitle">
                            {{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </section>
{% endblock fos_user_content %}
