{% extends 'layout.html.twig' %}

{% block title %}
    {% trans %} attachment.new.title {% endtrans %}
{% endblock %}

{% block content -%}
    <section class="card-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="card text-center">
                    <div class="body">
                        {{ form_start(form, {"attr": {"id":"attachment","class":"form-horizontal","action":path('attachment_upload', { 'issueId' : issue.id })}}) }}
                            <div class="row">
                                {{ form_widget(form) }}
                            </div>
                            <div class="row">
                                <p class="forget-pass">
                                    <button type="submit" class="btn btn-primary">{{ 'attachment.upload'|trans }}</button>
                                </p>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

