{% extends 'email.base.twig' %}

{% block content %}
	<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
		<td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
			Для изучения или рецензирования вам отправлена <a href="{{ url }}">ссылка</a> на документ или другие проектные артефакты.
		</td>
	</tr>
{% endblock %}
