<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title></title> 
		<style>
            html,
            body{
                margin: 0;
                padding: 0;
                background-color: white;
                min-width: 600px;
            }
			div, p, span, strong, b, em, i, a, li, td { -webkit-text-size-adjust: none; }
            a{
                color: #0782c1;
                text-decoration: none;
            }
            span{
            	color: #0782c1;
            }
		</style>
	</head>
	<body>
    	<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center" style="border-collapse: collapse; background: white;">
    		<tr>
    			<td>
    				<table cellpadding="0" cellspacing="0" border="0" width="600" align="center" style="border-collapse: collapse; background: white;">
                        <tr>
                            <td>
                                Для изучения или рецензирования вам отправлена <a href="{{ url }}">ссылка</a> на документ или другие проектные артефакты.
                            </td>
                        </tr>
            		</table>
    			</td>
    		</tr>
    	</table>
    </body>
</html>