.numberCircle {
    display:inline-block;
    line-height:0px;
    background-color:red;
    border-radius:50%;
    border:2px solid red;
    margin-left: 6px;
    margin-top: -1px;
    font-size:12px;
}

.numberCircle span {
    display:inline-block;

    padding-top:50%;
    padding-bottom:50%;
    color: white;
    margin-left:8px;
    margin-right:8px;
}

td.issue-caption-cell .numberCircle {
    border: none;
    margin-top: inherit;
    font-size:10px;
}
td.issue-caption-cell .numberCircle span {
    margin-left:6px;
    margin-right:6px;
}

ul#account-menu {
    border: none;
    border-top-left-radius: 3px;
}
a#account {
    padding-top: 11px;
    margin-top: 5px;
    padding-bottom: 13px;
}
.navbar-header h2 {
    margin: 0 0 0 20px;
    color: white;
}
.navbar-header h2 img {
    margin-right: 18px;
    width: 46px;
}

a.product-selector {
    font-size: 38px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #43484d;
}
a.product-selector:hover {
    text-decoration: none;
}
div.products-body {
    margin-left: 14%;
}
.card-section table {
    font-weight: 300;
}

ul.dropdown-menu a {
    color: black;
}

.state-row
{ 
    padding-top: 32px;  
}


.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: absolute;
    top: 0;
    bottom: 0%;
    left: 0%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
@media (min-width: 1025px) {
    .video-container {
        height: 450px;
    }
    .video-container video {
        position: absolute;
        z-index: 0;
        top: -240px;
        bottom: 0;
    }
    .video-container video {
    }
}
@media (min-width: 1340px) {
    .video-container {
        height: 450px;
    }
    .video-container video {
        position: absolute;
        z-index: 0;
        top: -280px;
        bottom: 0;
    }
    .video-container video {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .video-container {
        height: 470px;
    }
    .video-container video {
        position: absolute;
        z-index: 0;
        top: -140px;
        bottom: 0;
    }
    .video-container video {
        width: 1124px;
    }
}


/* Block with welcome text on login and registration pages */
/* ---------------------------------------------------------------------- */

.welcome-description {
    float: none;
}

.welcome-description h3 {
    font-size: 19.5px;
    line-height: 40px;
}

/* Language flags */
/* ---------------------------------------------------------------------- */

.icon-en-flag, .icon-ru-flag {
    width: 16px;
    height: 11px;

}
.icon-en-flag {
    background-image: url('../images/flag_en.gif');
}

.icon-ru-flag {
    background-image: url('../images/flag_ru.gif');
}

.no-wrap {
    white-space: nowrap;
}

.centered {
    text-align: center;
}

.issue-id-cell {
    white-space: nowrap;
}

textarea.form-control {
    min-height: 150px !important;
}

.side-nav li p {
    padding: 8px 20px;
}

.chat-messages {
    padding-right: 0;
}

.chat-message .sender {
    width: 160px;
}

.chat-message-body {
    margin-left: 160px;
}

.chat-message .time {
    text-align: left;
}

textarea.textarea-sm {
    min-height: 50px !important;
}
textarea {
    resize: vertical;
}

.notifications {
    margin: 0;
}

.navbar-text {
    color: rgba(51,51,51,0.5);
    font-size: 19.5px;
    line-height: 36px;

    margin: 0;
    padding: 0;
    float: none;
}

.navbar-btn {
    margin-top: 2px;
}

.nav-divider {
    width: 40px;
}

.wrap {
    margin: 30px auto;
    max-width: 1024px;
}

.logo {
    width: auto;
}

.table th {
    text-align: left;
}

.table th .sort-caret {
    margin-right: -15px;
}

@media (max-width: 767px) {
    .logo {
        top: 13px !important;
    }
}

.login-widget, .registration-widget {
    width: 330px;
}


/* font-awesome patch for language flags in navbar */
/* ---------------------------------------------------------------------- */

a [class^="icon-"],
a [class*=" icon-"] {
    display: inline-block;
}