[mysqld]
key_buffer_size = 2048M
max_allowed_packet = 64M
table_open_cache = 64
sort_buffer_size = 64M
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 256M
query_cache_size = 256M
query_cache_limit = 8M
query_cache_type = on
query_cache_min_res_unit = 512
ft_min_word_len = 3
lower_case_table_names = 1
group_concat_max_len = 4294967295
wait_timeout = 10
interactive_timeout = 10
max_connections = 120
open_files_limit = 8912
low_priority_updates = 1