[mysqld]
max_allowed_packet = 64M
key_buffer=2048M
table_cache=64M
ft_min_word_len = 3
lower_case_table_names = 1
group_concat_max_len = 4294967295
open_files_limit = 8912
sort_buffer = 256M
myisam_sort_buffer_size = 256M
query_cache_size = 256M
query_cache_limit = 8M
query_cache_type = on
query_cache_min_res_unit = 512
low_priority_updates = 1
