<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
        "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>
<body>
⠀<!-- This line has invisible unicode character in the beginning -->
<div style="padding: 30px; margin: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #333333; background-color: #ffffff;">
    <table cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" border="0" width="650px" align="center">
        <tr>
            <td>
                {% block body %}
                {% endblock body %}
            </td>
        </tr>
    </table>
</div>
</body>
</html>
