{% extends 'content_base.html.twig' %}

{% block body_class %} template-card {% endblock %}

{% block header_image %}
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/videos/1/MP4/Working-Space.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/videos/1/WEBM/Working-Space.webm') }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/videos/1/snapshots/Working-Space.jpg') }}" alt="">
        </div>
    </div>
{% endblock %}

{% block content_header %}
    <div class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>{% block title %}{% endblock %}</h1>
                </div>
            </div>
        </div>
    </div>
    {% block fos_user_content %}{% endblock %}
{% endblock %}
